.icon {
    opacity: 1;
    /* Center the content */
    transition: all 0.25s cubic-bezier(0.59, -0.26, 0.33, 1.42);
}

.icon:hover {
    opacity: 0.6;
    /*transform: scale(1.4);
  filter: blur(15px);*/
}

.play {
    opacity: 0.6;
}

.pause {
    opacity: 0.6;
}

.hidden {
    opacity: 0;
}

.stroke-bg {
    /* stroke: #4c4c4c; */
    stroke: red;
}

.stroke {
    stroke-dasharray: 145;
    stroke-dashoffset: 145;
    animation: dash 15s linear infinite paused;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 145;
    }
}