<div class="player-ui-wrapper"
     [style.backgroundColor]="backgroundColour">
    <div #player
         class="audioplayer-tobe pnplayer_footer button-aspect-noir button-aspect-noir--filled"
         style="width:100%; "
         [attr.data-pcm]="'[' + pcm + ']'"
         [attr.data-thumb]="imageUrl"
         [attr.data-thumb_link]="imageUrl"
         [attr.data-source]="audioUrl"
         data-type="mediafile">
        <div class="meta-artist">
            <span class="the-artist"
                  [style.color]="titleColour">{{title}}</span>
            <span class="the-name"
                  [style.color]="subTitleColour">
                <a [href]="target"
                   target="_blank">{{ subTitle }}</a>
            </span>
        </div>
    </div>
</div>
