<div class="pnp-grid-container"
    [style.backgroundColor]="backgroundColour">
    <div class="pnp-image-container"
        style="background-image:url('https://player.fergl.ie/media/iseeyou.jpeg')">
        <a href="#"
            class="pnp-thumb-link-wrapper">
            <div class="pnp-thumb"></div>
        </a>
    </div>
    <div class="pnp-controls-container"
        (click)="play()">
        <app-play-button [playState]="playState"></app-play-button>
    </div>
    <div class="pnp-details-container">
        <div class="details-wrapper">
            <span class="details-wrapper-title"
                [style.color]="titleColour">{{title}}</span>
            <span class="details-wrapper-subtitle"
                [style.color]="subTitleColour">
                <a target="_blank"
                    href="">{{subTitle}}
                </a>
            </span>
        </div>
    </div>
    <div class="pnp-scrub-container">
        <div id="pnp-scrub"
            #player>
            <app-audio-duration-position [top]="29"
                [background]="'#000000'"
                [colour]="'#eee'"
                [value]="currentPosition"></app-audio-duration-position>
            <app-audio-duration-position [top]="29"
                [background]="'#FFFFFF'"
                [colour]="'#000000'"
                [right]="142"
                [value]="duration"></app-audio-duration-position>
        </div>
        <!--  -->

    </div>
    <div class="pnp-volume-container">
        <app-volume-slider [currentVolume]="currentVolume"
            (volumeChanged)="onVolumeChanged($event)"></app-volume-slider>
    </div>
</div>