// don't show cursor
wave {
    border-right-width: 0px !important;
}


.pnp-grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 4em 4em 6em 1fr 8em;
    grid-template-rows: 4em;
    grid-template-areas: 'pnp-image-container pnp-controls-container pnp-details-container pnp-scrub-container pnp-volume-container';
}

.pnp-image-container {
    grid-area: pnp-image-container;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    box-sizing: border-box;
    border-radius: 5px;
}

.pnp-controls-container {
    grid-area: pnp-controls-container;
}

.pnp-details-container {
    grid-area: pnp-details-container;
    left: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    max-width: none;
    white-space: nowrap;
    bottom: auto;
    max-width: 110px;
    overflow: visible;
    visibility: visible;
}

.details-wrapper {
    width: auto;
    margin-top: 8px;
    padding: 4px;
}

.details-wrapper-title {
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    text-overflow: ellipsis;
    font-size: 11px;
}

.details-wrapper-subtitle {
    width: auto;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
    display: inline-block;
    font-size: 16px;
}

.details-wrapper-subtitle a {
    color: inherit;
    text-decoration: none;
}

.pnp-scrub-container {
    grid-area: pnp-scrub-container;
}

.pnp-volume-container {
    grid-area: pnp-volume-container;
}