<ngx-audioplayer #player
                 [audioUrl]="audioUrl"
                 [pcmUrl]="pcmUrl"
                 [imageUrl]="imageUrl"
                 [title]="title"
                 [autoPlay]="autoPlay"
                 [subTitle]="subTitle"
                 [backgroundColour]="backgroundColour"
                 [titleColour]="titleColour"
                 [subTitleColour]="subTitleColour"
                 [waveColour]="waveColour"
                 [waveColourProgress]="waveColourProgress">
</ngx-audioplayer>