.pnp-audio-length {
    position: absolute;
    z-index: 10;
    padding: 4px 7px;
    font-size: 10px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
